@{
    ViewData["Title"] = "About Us";
}
<h1><b>@ViewData["Title"]</b></h1>


<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: linear-gradient(to bottom, #ccccff 0%, #ffffff 100%);
        }

        
    </style>
</head>


<body>

    
    <p> </p>
    <p> </p>
    <p> </p>

</body>




<body>


    <p> Interested in stock trading? We are here for you !!! </p>
    <p>
        Our website contains the data of different companies, which can be helpful for your stock trading process. There are some important factors
        to consider while trading for a stock like Revenue per Share (EPS),
        Net Operating Cash Flow,
        Net Sales, totaldebt. These things are very important to evaluate the company.
        from the navigation menu on the top, when we click on the symbols, we will get the name of a company. If you click on the name of the company,
        you will get some data about the company which is, Dividend Rate,
        Revenue,
        Gross Profit,
        Cash,
        Debt,
        Revenue Per Share.
        Also, you can see chart data which shows Historically adjusted market-wide data. On the right hand side of the chart data, there is a link for financial which contains the information about company's
        Gross Profit,
        Total Revenue,
        Total Assets,
        Total Liabilities,
        Total Cash. Furthermore, there is a page called Stock guide,
        In this, we have attached some useful links for stock trading process. You will get the idea about important parameters as well as some
        calculations which is very helpful for stock trading process.
    </p>
    <p>
        Our application consumes 4 API end points from the IEX trading website and 5 tables in the database.  Symbol, Charts, financials, stockstats these are the 4 API.



    </p>

    <p>
        To get the project code, please refer to <a href="https://github.com/anuradhajain/BullFins" target="_blank">Github</a>
    </p>

</body>

<body>


    <h3> Contact Us </h3>
    <p>   </p>
    <p>   </p>
    <p>   </p>
    <p>   </p>

</body>
<table class="table">
    <tbody>
        <tr>
            <td>
                <a href="https://www.linkedin.com/in/anuradha-jain7/" target="_blank">Anuradha Jain</a>
            </td>
            <td>
                (813)-541-4209 | anuradhajain@mail.usf.edu | Tampa, Florida | 33647
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.linkedin.com/in/rushikesh-maheshwari12/" target="_blank">Rushikesh Maheshwari</a>
            </td>
            <td>
                (813)-573-6781 | rmaheshwari@mail.usf.edu | Tampa, Florida | 33613
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://www.linkedin.com/in/rashmi-chaudhari-790291155/" target="_blank">Rashmi Chaudhari</a>
            </td>
            <td>
                (786)-678-6813 | rc941228@gmail.com | Tampa, Florida | 33613
            </td>
        </tr>
    </tbody>
</table>
<html>
