@{
    ViewData["Title"] = "Home Page";
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    -->



<head>
    <style>
        body {
            background: linear-gradient(to bottom, #ccccff 0%, #ffffff 100%);
        }
        .img {
            position: center;
            float: left;
            width: 400px;
            height: 300px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>


<h1> <b>Welcome to BullFins </b></h1>
<h3> The most trusted place when it comes to stocks 📉 and tradings  💰* </h3>

<p></p>
<p></p>





<body>

   
        <img class="mySlides" src="~/img/pic4Bull.jpg" style="width:100%">
        <img class="mySlides" src="~/img/pic3WorldMap.jpg" style="width:100%">
        <img class="mySlides" src="~/img/pic2Stockhart.jpg" style="width:100%">
        <img class="mySlides" src="~/img/pic5NTSE.gif" style="width:100%">


        
    </div>

    <script>
        var slideIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > x.length) { slideIndex = 1 }
            x[slideIndex - 1].style.display = "block";
            setTimeout(carousel, 3000); // Change image every 5 seconds
        
        }
    </script>

</body>











<p></p>
<p style="color:red"><b>*Stock investments are subjected to market risk. Please read all the stock related documents carefully before investing !</b></p>



