@{
    ViewData["Title"] = "Stock Guide";
}
<h1><b>@ViewData["Title"]</b></h1>

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: linear-gradient(to bottom, #ccccff 0%, #ffffff 100%);
        }
    </style>
</head>
<body>

    <p>Want help for where to start in stock investing?</p>

    <p> </p>
    <p> You can refer these links </p>

    <ul>
        <li><a href="https://www.aaii.com/journal/article/quantitative-strategies-for-selecting-stocks">Strategies for selecting stocks</a></li>
        <li><a href="https://www.magicformulainvesting.com/">Formula for stock investing</a></li>
    </ul>
    <p> See the video for more information </p>

    <video controls style="width: 1000px;">
        <source src="~/img/InvestingStocksvideo.mp4" type="video/mp4">
    </video>
</body>
<html>
